<app-navbar></app-navbar>
<section class="row pb-5 mb-5 pt-5 mt-5">
    <div class="col" data-aos="zoom-in">
        <img [src]="this.carImage" class="car-image mx-auto d-block shadow-lg" alt="Black Car">
    </div>
    <div class="col my-auto" data-aos="zoom-in">
        <h1 class="text-center fs-3">Road Runner Car Rental</h1>
        <h5 class="text-center fs-5">Dream Car For A Cheaper Price</h5>
        <div class="d-flex justify-content-center pt-2">
            <button type="button" class="btn btn-primary" routerLink="/register">Start Here</button>
        </div>
    </div>
</section>

<section class="pt-3 pb-3 gradient1">
    <div class="container">
        <div class="row">
            <div class="col" data-aos="flip-up">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="rounded-circle white-color py-2 px-3 shadow-lg">
                        <i class="bi bi-phone icon-size gray-color"></i>
                    </div>

                    <span class="ms-2">
                        Book A Car
                    </span>
                </div>
            </div>
            <div class="col" data-aos="flip-up">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="rounded-circle red-color py-2 px-3 shadow-lg">
                        <i class="bi bi-key icon-size dred-color"></i>
                    </div>

                    <span class="ms-2">
                        Pickup
                    </span>
                </div>
            </div>
            <div class="col" data-aos="flip-up">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="rounded-circle blue-color py-2 px-3  shadow-lg">
                        <i class="bi bi-car-front icon-size dblue-color"></i>
                    </div>

                    <span class="ms-2">
                        Drive
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-3 pb-5 gradient2">
    <div class="container">
        <div class="row pb-3">
            <h1 class="text-center pb-4" data-aos="flip-up">Our Services</h1>
            <div class="col my-auto" data-aos="fade-right">
                <h2 class="ps-5">A Range Of Cars</h2>
                <p class="lh-lg ps-5">Rent From A Range Of Cars We Have Everything From A Mini Van To Super Cars.
                    We Also Have Insurance For An Extra Fee To Cover Certain Incidents, Road Runner Undersrands
                    We're All Human
                </p>
            </div>
            <div class="col" data-aos="fade-left">
                <img [src]="this.carsImage" class="car-image mx-auto d-block shadow-lg" alt="Car Lot">
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col" data-aos="fade-right">
                <img [src]="this.fDriver" class="car-image mx-auto d-block shadow-lg" alt="Female Driver">
            </div>
            <div class="col my-auto" data-aos="fade-left">
                <h2 class="ps-5">Pre-Bookings</h2>
                <p class="text-break lh-lg ps-5">Dont Need A Car Now? But Planning On Getting One In The Future? At Road
                    Runner We
                    Have
                    An Option For Pre-Bookings. So You Can Take Care Of Your Future Now
                </p>
            </div>

        </div>
        <div class="row pt-5">
            <div class="col my-auto" data-aos="fade-right">
                <h2 class="ps-5">Easy Pickup And DropOff</h2>
                <p class="lh-lg ps-5">At Road Runner We Value Our Customers
                    So We Make Sure That Pickup And Dropoff Goes
                    As Smoothly As Possible To Always Put A Smile On Your Face
                </p>
            </div>
            <div class="col" data-aos="fade-left">
                <img [src]="this.fCar" class="car-image mx-auto d-block shadow-lg" alt="Female Driver">
            </div>

        </div>
    </div>
</section>
<section class="gradient3 pt-3">
    <footer class="container">
        <div class="row">
            <div class="col">
                <h6>
                    About Us
                </h6>
                <h6>
                    Contact Us
                </h6>
                <h6>
                    Runner VIP Membership
                </h6>
                <b>&copy;</b>2022 Road Runner. All rights reserved.
            </div>
            <div class="col">
                <span>
                    Connect With Us
                </span>
                <h6>
                    <i class="bi bi-facebook icon-size"></i>
                    <span>
                        RoadRunner
                    </span>
                </h6>
                <h6>
                    <i class="bi bi-twitter icon-size"></i>
                    <span>
                        @RoadRunnerRental
                    </span>
                </h6>
                <h6>
                    <i class="bi bi-instagram icon-size"></i>
                    <span>
                        @RoadRunnerCarRental
                    </span>
                </h6>
            </div>
        </div>
    </footer>
</section>