
<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="this.mDriver" class="d-block w-100 full-height" alt="Male Driver">
        <div class="carousel-caption d-none d-md-block">
          <h5>Road Runner Family</h5>
          <p>Join Road Runner And Get Wonderful Benefits</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="this.carSit" class="d-block w-100 full-height" alt="Person Sitting On Car">
        <div class="carousel-caption d-none d-md-block">
          <h5>Clean Cars Matter</h5>
          <p>We Make Sure All Cars Are Thoroughly Cleaned</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="this.hDriver" class="d-block w-100 full-height" alt="Happy Driver">
        <div class="carousel-caption d-none d-md-block">
          <h5>Easy Rental System</h5>
          <p>Renting So Easy Even A Baby Could Do It!</p>
        </div>
      </div>
    </div>
  </div>